<h1>Listing thumbs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thumbs.each do |thumb| %>
      <tr>
        <td><%= thumb.name %></td>
        <td><%= thumb.path %></td>
        <td><%= link_to 'Show', thumb %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thumb', new_thumb_path %>
